body {
    background: #222;
    color: white;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: aquamarine;
    text-decoration: none;
}

#app {
    padding: 1rem;
}

img {
    width: 300px;
}

input {
    width: 300px;
}

.rosso {
    color: crimson;
}
.violet {
    color: blueviolet
}