<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.JS Scaffold</title>
    <script src="./js/vue.global.3.2.47.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <div id="app">
        <h1 :class="(numero == 42) ? 'violet' : 'rosso' ">{{ titolo }}</h1>
        <span :class="chiave">Percorso img interpolato: {{ "./img/" + nomeFileImg }}</span>
        <br><br>
        <label>Impero o ribellione? <input v-model="passphrase"> (v-model)</label>
        <br><br>
        <button @click="voltaGabbana()">Cliccami</button>
        <br><br>
        <br><br>
        <div v-if="passphrase == 'ribellione'">
            <!-- Viene creato/distrutto tutto il div, incluso il contenuto -->
            <img :src="'img/'+nomeFileImg" alt="testo" >
            <p>Che la forza sia con te (e con il tuo if)</p>
            <input value="" placeholder="Scrivi qui un messaggio di cui non resterà traccia">
        </div>
        <span v-else>Nessun ribelle qui, siamo con l'impero</span>

    </div>

    <script src="./js/main.js"></script>

</body>
</html>





